<div class="container-fluid" id="homePageLocation">
    <div class="container">
      <br><br><br>
      <div class="row">
        <div class="col-sm-1 col-lg-1"></div>
        <div class="col-sm-10 col-lg-10">
          <section id="homePage">
            <div class="row">
              <div class="col-sm-6 col-md-6 pm-0">
                <div class="card" style="max-width: 500px; max-height: 600px;">
                  <img class="card-img-top profile-image"
                    src="https://avatars.githubusercontent.com/u/42035795?s=400&u=084403ebbbbd03edd6f5a6a00575db4db64edf04&v=4"
                    alt="profile image">
                </div>
              </div>
              <div class="col-sm-6 col-md-5 pm-0">
                <div class="profile-text">
                <br>
                <h4>Hello, I am</h4>
                <div class="person-name">
                  <h1>Sirri Glory</h1>
                </div>
                <h4 class="front-end-dev">A Front-End Developer</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button type="button" class="btn btn-primary btn-lg rounded-0 shadow">Contact Me</button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-sm-1 col-lg-1"></div>
      </div>
    </div>
   </div>